CompileFlags:
  CompilationDatabase: out/
  Remove:
    - -arch=*
    - -rdc=*
    - --generate-code=*
    - -forward-unknown-to-host-compiler
    - -G
    - -permissive*
    - -mrecord-mcount
    - -fconserve-stack
    - -fno-allow-store-data-races
    - -mfunction-return=*
    - -mindirect-branch-cs-prefix
    - -mindirect-branch-register
    - -mindirect-branch=*
    - -mskip-rax-setup
    - -mpreferred-stack-boundary=*
    - -mno-fp-ret-in-387
    - -ftrivial-auto-var-init=*
    - -fmin-function-alignment=*

InlayHints:
  Enabled: No
  ParameterNames: Yes
  DeducedTypes: Yes

---

If:
  PathMatch:
    - .*\.h
    - .*\.hpp
    - .*\.cpp
    - .*\.cxx
    - .*\.cc

CompileFlags:
  Add:
    - -std=c++17

---

If:
  PathMatch:
    - .*\.cuh
    - .*\.cu

CompileFlags:
  Add:
    - -std=c++17
    - --cuda-path=/usr/local/cuda-12.6
    - -I/usr/local/cuda-12.6/include
    - -L/usr/local/cuda-12.6/lib64
    # - --cuda-path=C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.4
    # - -IC:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.4/include
    # - -LC:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.4/lib/x64
